<h3><%= @brand.name %></h3>

<% if @brand.stores.any? %>
  <ul>
    <% @brand.stores.each do |store| %>
      <li><%= store.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no stores yet</p>
<% end %>
