<h3><%= @store.name %></h3>

<% if @store.shoe_brands.any? %>
  <ul>
    <% @store.shoe_brands.each do |brand| %>
      <li><%= brand.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no brands yet</p>
<% end %>

<p><a href="store/<%= @store.id %>/edit">Click here to update or delete store</a></p>
